

#tempscroll{
    height : 1000vh;
    width : 1px;
    color: transparent;
}

body{
    width : 100vw;
    height : 100vh;
    background-color: #F4F4F4;

    overflow-x : hidden;
    -ms-overflow-style: none; /* for internet explorer and legacy edge */
    scrollbar-width: none; /* for firefox */
}

/* For Chrome, Safari, Opera, and new Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
#main{
    width: 100vw;
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
#emptyspace1{
    background-color: transparent;
    width: 85vw;
    aspect-ratio: 10/1;
}
#heropage{
    background-color: transparent;
    width: 95vw;
    aspect-ratio: 5/2;
    padding: 0;
    margin : 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    container-type: size;
}


#heroText{
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: clamp(0.5rem, 19cqh, 15rem);

    padding-top: 25cqh;
    padding-bottom:10px;
    margin: 10px;

    letter-spacing: -0.05em;
    line-height: 0.8;

    text-align: center;
}

#heroTitle{
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(0.7rem, 4cqh , 15rem);
    padding : 5cqh;
    margin : 0;

    letter-spacing: -0.05em;

    text-align: center;

    color: #818181;
}


#SignupAndContactContainer{

    background-color: transparent;
    width: 85vw;
    aspect-ratio: 5/2;
    top: 15000px;
    padding: 0;
    margin : 0;

    justify-self: center;
}